# Nuxt dev/build outputs
.output
.data
.nuxt
.nuxt/manifest.json
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example

# vscode
.vscode
